{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- To use the Google icons, added the following line -->
      <!-- For Search Engine Optimization. -->
    <meta name="description" content="Full Stack development template that combines Back-End (Django Rest) API and Front-End (React) UI for application service ">
<!--
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
-->
    <title>Arkwith App Template [Python Django, React, Bootstrap]</title>
  </head>
  <body>
    <div id="root">
    </div>
      {% render_bundle 'main' %}
</html>
